
<p id="notice"><%= notice %></p>

<div class="field">
  <p>
    <strong>Customer:</strong>
    <%= @order.customer.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @order.status ? 'SUBMITTED' : 'DRAFT' %>
  </p>

  <p>
    <strong>Product:</strong>
    <% @order.products.each do | product | %>
      <div>
        <%= product.name %>
      </div>
    <% end %>
  </p>

  <p>
    <strong>Sub-total:</strong>
    <div>$<%= @order.cost %></div>
  </p>

    <p>
    <strong>Total:</strong>
    <div>$<%= @order.cost + @order.cost * 0.15 %></div>
  </p>
</div>

<div class='links'>
  <% if !@order.status %>
    <%= link_to 'Edit', edit_order_path(@order) %> |
  <% end %>
  <%= link_to 'Back', orders_path %>
</div>
