
<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status ? 'SUBMITTED' : 'DRAFT' %>
</p>

<div class='links'>
  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Back', orders_path %>
</div>
